@charset "utf-8";




@font-face {

	font-family: "Anybody";
	font-style: normal;
	font-weight:  100 900;
	font-stretch: 50% 150%;
	font-display: swap;
	src: url("../media/fonts/Anbody-Roman.woff2") format("woff2");
	/* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}
body {

	font-family: "Anybody", system-ui, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;/*  100 – 900  */
	font-style: normal;
	/*font-variation-settings:
		"wdth" 100;/*  50 – 150  */
}



